/*  notion
https://efficient-sloth-d85.notion.site/Desafio-Countdown-4572ce6f5c91469abe0171f454a13e3f

    figma
https://www.figma.com/file/LhfPag77j58PtWrVpORzOD/DD-%2F-Countdown-(Copy)?node-id=0-1&t=Q29VBVZbo68OHOeR-0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.img_fundo{
    width: 100vw;
}

.imagem {
    width: 50%;
    height: 100%;
}

.principal{
    display: flex;
    height: 100%;
    gap: 60px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
}

.timer h1{
    color: var(--purple);
    /* font-size: 2.3em; */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.area_cronometro {
    display: flex;
}

.cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cronometro_titulo {
    color: var(--light-grey);
    font-size: 14px;
    text-transform: capitalize;
}

.dias,.horas,.minutos,.segundos {
    color: var(--black);
    font-size: 5em;
}

.separador {
    font-size: 5em;
    color: var(--black);
    margin: 20px 10px 0px 10px;
}

.instruções {
    color: var(--text-color);
    font-size: 14px;
}

.inscrever {
    border: none;
    background-color: var(--purple);
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
}

.inscrever:hover{
    color: var(--purple);
    background-color: white;
    border: 2px solid var(--purple);
    transition: all .2s;
}