/*  notion
https://efficient-sloth-d85.notion.site/Desafio-Countdown-4572ce6f5c91469abe0171f454a13e3f

    figma
https://www.figma.com/file/LhfPag77j58PtWrVpORzOD/DD-%2F-Countdown-(Copy)?node-id=0-1&t=Q29VBVZbo68OHOeR-0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}